#eventsList {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 40px;
}

#loading {
    margin: 0 auto 30px auto;
    display: inherit;
}
