.event {
    display: inline-block;
    width: 28%;
    background: #fff;
    margin: 15px;
    padding: 15px;
    background: #EEE;
    color: #000;
}

.event h2 {
    margin-top: 0;
}

.event a, .event a:link, .event a:visited {

}

.event a:hover, .event a:active, .event a:focus {

}
