.event {
    background: #fff;
    margin: 15px;
    padding: 15px 15px 60px 15px;
    background: #EEE;
    color: #000;
    position: relative;
    min-width: 25%;
    max-width: 25%;
}

.event h2 {
    margin-top: 0;
    line-height: 130%;
}

.event h2 a, .event h2 a:link, .event h2 a:visited {
    color: #000058;
    text-decoration: none;
}

.event h2 a:hover, .event h2 a:active, .event h2 a:focus {

}

a.eventFooterLink, a.eventFooterLink:link, a.eventFooterLink:visited {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    padding: 10px 15px;
    background: #000058;
    color: #fff;
}

a.eventFooterLink:hover, a.eventFooterLink:active, a.eventFooterLink:focus {

}

@media(max-width: 1050px) {
    .event {
        min-width: 40%;
        max-width: 40%;
    }
}

@media(max-width: 700px) {
    .event {
        min-width: 100%;
    }
}
