#eventsList {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 40px;
}

.eventDay {
    width: 100%;
}

#loading {
    margin: 0 auto 30px auto;
    display: inherit;
}

.events {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#noResults {
    text-align: center;
}
