form {
    background: #fff;
    padding: 15px 30px;
    margin: 40px 0;
    background: #333;
    color: #fff;
}

form h2 {
    margin-top: 10px;
    margin-bottom: 0;
}

fieldset {
    border: none;
    margin-left: 0;
    padding-left: 0;
}

label {
    display: inline-block;
    margin-right: 20px;
    width: 40%;
}

input {
    padding: 10px;
    font-size: 18px;
    margin-left: 10px;
}

input:focus {
    outline: none;
}
