form {
    background: #fff;
    padding: 15px 30px;
    margin: 40px 0;
    background: #333;
    color: #fff;
}

form h3 {
    max-width: 1100px;
    margin: 0 auto 20px auto;
    text-align: center;
}

fieldset {
    border: none;
    margin: 0 auto;
    max-width: 1100px;
}

#fieldset-flex {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

input {
    padding: 5px;
    font-size: 18px;
    margin-left: 10px;
    border: none;
}

input[type="date"] {
    padding: 3px;
}

input:focus {
    outline: none;
}

select {
    margin-left: 10px;
    font-size: 18px;
    -webkit-appearance: none;
    padding: 7px;
    border-radius: 0;
    border: none;
}

select:focus {
    outline: none;
}

@media(max-width: 700px) {
    label {
        width: 100%;
    }
}
